{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Measurement set invalid</h3>
        </div>
        <div class="block">
            <div class="description"><b class="light-text">User name:</b> {{patient.name}}</div>
            <div class="description"><b class="light-text">User UUID:</b> {{patient.id}}</div>
            <div class="description"><b class="light-text">Scan UUID:</b> {{scan.id}}</div>
            <div class="description"><b class="light-text">Model Upload UUID:</b> {{modelUpload.id}}</div>
            <div class="description"><b class="light-text">Model Upload step :</b> {{modelUpload.step}}</div>
            <div class="description"><b class="light-text">Model Upload quality :</b> {{modelUpload.quality}}</div>
            <div class="description"><b class="light-text">Model Upload pose:</b> {{modelUpload.pose}}</div>
            <div class="description"><b class="light-text">Model Upload version:</b> {{modelUpload.version}}</div>
        </div>
        {{#if inValidMeasurements.length}}
            <div class="title">
                <h4>Invalid values</h4>
            </div>
        {{/if}}
        <div class="block">
            {{#each inValidMeasurements}}
                <div class="description"><b class="light-text">Measurement name:</b> {{this.key}}</div>
                <div class="description"><b class="light-text">Measurement value:</b> Null</div>
            {{/each}}
        </div>
        {{#if missedMeasurements.length}}
            <div class="title">
                <h4>Missed measurements</h4>
            </div>
        {{/if}}
        <div class="block">
            {{#each missedMeasurements}}
                <div class="description"><b class="light-text">Measurement name:</b> {{this}}</div>
            {{/each}}
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
