{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Movement plan missed data</h3>
        </div>
        {{#each missedData}}
            <div class="block">
                <div class="description"><b class="light-text">User name:</b> {{user.name}}</div>
                <div class="description"><b class="light-text">User UUID:</b> {{user.id}}</div>
                <div class="description"><b class="light-text">Routine name:</b> {{routine.name}}</div>
                <div class="description"><b class="light-text">Routine UUID:</b> {{routine.id}}</div>
                <div class="description">
                    <b class="light-text">Entity name:</b> {{missedEntity}}
                </div>
                <div class="description">
                    <b class="light-text">Entity condition:</b> {{missedWhere}}
                </div>
            </div>
        {{/each}}
    {{/ inline}}
{{/ layouts/email_base}}
