{{#> layouts/email_base }}
    {{#* inline "body"}}
        {{#ifEqual service.type "initial-assessment" }}
            <div class="title">
                <h3>Understanding your results</h3>
            </div>
            <div class="description">
                Your body map review and initial assessment is scheduled for {{appointmentDate}} on {{appointmentTime}}
                with Coach {{doctor.firstName}} {{doctor.lastName}}.
            </div>
            <div class="description">
                <b>The process is critical, but quick.</b> The actual scan takes about 3 minutes. It’s private, safe and
                captures key data needed to understand your posture, stability and movement.
            </div>
            <div class="description">
                <div class="b">During your video call, expect to…</div>
            </div>

            <div class="description">
                <ul>
                    <li style="margin-bottom: 7px;">Review your desired activity goals</li>
                    <li style="margin-bottom: 7px;">Discuss your kinetic chain and any areas of misalignment or
                        vulnerability
                    </li>
                    <li>Get answers to your questions</li>
                </ul>
            </div>

            <div class="description">
                <b>Add the calendar invite below</b> to access the video call link on your appointment day. If you need
                to change your appointment, you may <a class="link" href="https://user-portal.phy.health/"
                                                       target="_blank">cancel or rebook here</a>.
            </div>

            <div class="description">
                It’s time to do more than just feel better. It’s time to be better. See you soon.
            </div>
        {{/ifEqual}}
        {{#ifEqual service.type "coaching-session" }}
            <div class="title">
                <h3>Moving you towards results faster</h3>
            </div>
            <div class="description">
                Your 30-minute virtual coaching appointment is scheduled for {{appointmentDate}} on {{appointmentTime}}
                with Coach {{doctor.firstName}} {{doctor.lastName}}.
            </div>
            <div class="description">During your session, your Phy Health coach may work with you on your movement
                routine. Prior to starting your video call, ensure you have an area to move around, stretch, and feel
                comfortable, ideally with a chair, a mat, and an open wall space nearby.
            </div>
            <div class="description">If you need to change your appointment, you may <a class="link"
                                                                                        href="https://user-portal.phy.health/"
                                                                                        target="_blank">cancel or rebook
                here</a>.
            </div>
            <div class="description">This is decoding your body.</div>
            <div class="description">This is optimizing your self.</div>
            <div class="description">See you soon.</div>
        {{/ifEqual}}
        {{#ifEqual service.type "3d-postural-scan" }}
            <div class="title">
                <h3>What to know before you go</h3>
            </div>
            <div class="description">
                You’re scheduled for {{appointmentDate}} on {{appointmentTime}} at {{location.name}} for a 3D
                body scan. Here’s what to know before you arrive:
            </div>
            <div class="description">
                <b>The process is critical, but quick.</b> The actual scan takes about 3 minutes. It’s private, safe and
                captures key data needed to understand your posture, stability and movement.
            </div>
            <div class="description">
                <b>You should wear form-fitting apparel,</b> like compression clothing. The more of your body seen by
                our scan system, the better the mapping result.
            </div>
            <table class="table-collapse">
                <tr>
                    <td>
                        <button class="button">
                            <a href="{{googleMapUrl}}" target="_blank">
                                <span><font color="#ffffff">Get Directions</font></span>
                            </a>
                        </button>
                    </td>
                    <td class="gutter-x-15"></td>
                    <td>
                        <button class="button secondary">
                            <a href="mailto:hello@phy.health" target="_blank">
                                <span><font color="#EB5829">Contact Us</font></span>
                            </a>
                        </button>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-40"></td></tr></table>
            <div class="description">
                If you need to change your appointment time, you may <a class="link"
                                                                        href="https://user-portal.phy.health/"
                                                                        target="_blank">cancel or rebook here</a>.
            </div>
            <div class="description">one million data points. Limitless potential. See you soon.</div>
        {{/ifEqual}}

        <table>
            <tr><h4 class="mb-0">Add To Calendar</h4></tr>
            <tr>
                <td class="gutter-y-15"></td>
            </tr>
            <tr>
                <td>
                    <a class="link" href="{{addToGoogleCalendarUrl}}" target="_blank">
                        <img src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/google-logo.png"
                             alt="Calendar Sync" width="48" height="48"/>
                    </a>
                    <a class="link" href="{{downloadIcsUrl}}" target="_blank">
                        <img src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/ics.png"
                             alt="Calendar Sync" width="48" height="48"/>
                    </a>
                </td>
            </tr>
        </table>
    {{/ inline}}
{{/ layouts/email_base}}
