{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Engineered for you and your MSK goals</h3>
        </div>
<!--        <div class="description">-->
<!--            Coach {{provider}} has engineered your latest movement plan. Start moving closer to your goals today by beginning your routine below.-->
<!--        </div>-->
        <div class="description">
            <b>{{routine.name}}</b>
            <span style="font-weight: lighter;font-size: 16px;">
            {{#ifEqual routine.startDate routine.endDate}}
                ({{routine.startDate}})
            {{/ifEqual}}
            {{#ifNotEqual routine.startDate routine.endDate}}
                ({{routine.startDate}} - {{routine.endDate}})
            {{/ifNotEqual}}
            </span>
        </div>
        <div class="description description-pl">{{routine.note}}</div>
        {{#each routine.movements}}
            <!--[if mso]>
            <table style="width: 515px; border-collapse: collapse; border-spacing: 0;" border="0" width="515"><tr><td style="padding: 0;">
            <![endif]-->
            <table class="planItem card">
                <tr><td colspan="10" class="gutter-y-15"></td></tr>
                {{#if exercise.videos}}
                    {{#each exercise.videos}}
                        <tr>
                            <td class="gutter-x-15"></td>
                            <td class="planVideo" colspan="2" style="background-image: url('https://i.ibb.co/wK2tW8n/SCR-20230410-qmgd.png')">
                                <a href="{{video}}" target="_blank">
                                    <!--<img src="cid:{{id}}" width="485" height="250">-->
                                    <!--[if mso]>
                                    <v:image xmlns:v="urn:schemas-microsoft-com:vml" style="position: absolute; left: 215px; top: 95px; width:68px; height:68px; object-fit: cover;" src="https://i.ibb.co/j6bpG2D/play.png" />
                                    <img src="{{preview}}" width="485" height="250" />
                                    <![endif]-->
                                    <!--[if !mso]><!-->
                                    <table class="planVideoInner" width="100%" style="width: 100%; border-collapse: collapse; background-image: url('cid:{{id}}');">
                                        <tr>
                                            <td class="planVideoInnerInner" style="background-image: url('{{preview}}')">
                                                <span class="planVideoLink"></span>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--<![endif]-->
                                </a>
                            </td>
                            <td class="gutter-x-15"></td>
                        </tr>
                        <tr><td colspan="10" class="gutter-y-25"></td></tr>
                    {{/each}}
                {{/if}}
                <tr class="planName">
                    <td class="gutter-x-15"></td>
                    <td><b>{{exercise.name}}</b></td>
                    <td style="text-align: right;"><em class="planDuration">{{{seconds_to_readable duration}}}&nbsp;</em></td>
                    <td class="gutter-x-15"></td>
                </tr>
                <tr><td colspan="10" class="gutter-y-15"></td></tr>
                <tr>
                    <td class="gutter-x-15"></td>
                    <td class="planDesc">{{comment}}</td>
                    <td></td>
                    <td class="gutter-x-15"></td>
                </tr>
                <tr><td colspan="10" class="gutter-y-15"></td></tr>
            </table>
            <!--[if mso]>
            </td></tr></table>
            <![endif]-->
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
        {{/each}}
        <div class="description">
            Your coach is here to support your progress.
            <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">Reach out with questions</font></span></a>, or get your next coaching session <a class="link" href="{{url}}"><span><font color="#EB5829">scheduled here</font></span></a>.
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
